.loading-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-page h1 {
    font-size: 24px;
    color: #333;
  }
  